:root{
    /* MAIN COLOR */
    --dark-purple: #2d1e3fff;
    --russian-violet: #40205aff;
    --dark-slate-blue: #5c4b97ff;
    --glossy-grape: #9d8fb2ff;
    --lavender-gray: #bfbdd3ff;

    /* LEVEL UP COLOR */
    --dark-purple: #361526ff;
    --red-violet-color-wheel: #832838ff;
    --ultra-red: #ef7687ff;
    --sky-blue: #7acfebff;
    --maximum-blue: #48b8ddff;
}

@font-face {
    font-family: "midnight-font";
    src: url(/webfontkit-20210714-165437/midnight-regular-webfont.woff);
}
@font-face {
    font-family: "vtks-font";
    src: url(/webfontkit-20210714-165437/vtks_love_u-webfont.woff);
}

* {
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-purple);
}
.background{
    background-color: var(--russian-violet);
    margin: 10px;
    padding: 20px;
    height: 900px;
    width: 900px;
    position: relative;
}


h1 {
    color: var(--lavender-gray);
    text-align: center;
    font-family: "midnight-font";
    font-size:5em;
}
h4{
    color: var(--dark-purple);
    font-size: 1.5em;
}
.prompt{
    height: 900px;
    width: 900px;
    top:0%;
    left:0%;
    background-color: var(--dark-purple);
    position: absolute;
    z-index: 1;
}
.prompt__display{
    position: relative;
}
.prompt__heading{
    position: absolute;
    top: 280px;
    left: 100px;
}
#prompt__input{
    position: absolute;
    top: 450px;
    left: 280px;
    font-family: "midnight-font";
    width: 10em;
    text-align: center;
}
.button.enter{
    position: absolute;
    top: 448px;
    left: 480px;
}
.top__section{
    background-color: var(--dark-slate-blue);
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "midnight-font";
}


.display{
    position:relative;
    display: flex;
    justify-content: center;
}
#display__background{   
    max-width: 800px;

}
#display__character {
    position: absolute;
    height: 150px;
    width: 100px;
    top: 40%;
    right: 45%;

}

/* SECTION BOTTOM */
.botton__section{
    padding: 10px;
    margin: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--glossy-grape);
}
.button{
    padding: 10px 30px;
    font-family: "vtks-font";
    font-size: 20px;
}
.button.enter{
    padding: 8px 30px;
    font-family:"midnight-font";
}
.button:hover{
    background-color: var(--lavender-gray);
}
.timer{
    display: flex;
    align-self: center;
    font-size: 1em;
    font-family: "midnight-font";
}
.start_reset{

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#reset, #start{
    padding: 5px 10px;
    margin: 5px;
    font-family: "vtks-font";
    font-size: 20px;
    
}