:root{

}


* {
    box-sizing: border-box;
    border: 2px solid red;
}
h1 {
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top__section{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botton__section{
    
}

.main_display {
    position: relative;

}

#display__background{
    width: 80vw;
    max-width: 700px;

}
#display__character {
    height: 150px;
    width: 100px;
    position: absolute;
    top: 35%;
    right: 45%;
}
.botton__section{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    padding: 20px 30px;
}